extends layout

block content
	body
		div.rhino_logo
			img.rhino_logo.pic(src='http://localhost:3000/images/Rhino-Design-Logo.png')#background_img
		div.social_media_div
			li.social_media
				button.btn.i.fa.fa-facebook.fa-2x
				a(href='#')
			li.social_media
				button.btn.i.fa.fa-instagram.fa-2x
				a(href='#')
			li.social_media
				button.btn.i.fa.fa-twitter-square.fa-2x
				a(href='#')
		div.nav.navbar
			li.nav-bar
				button.nav-button
					a(href='#') Projects
			li
				button.nav-button
					a(href='#') Who We Are
			li
				button.nav-button
					a(href='#') Contact
	div.span_div
		a(href='#')
			span.glyphicon.glyphicon-menu-down
		//- span.glyphicon.glyphicon-menu-down

