extends layout

block content
	body
		div.rhino_logo
			img.rhino_logo.pic(src='http://localhost:3000/images/Rhino-Design-Logo.png')#background_img
		div.social_media_div
			li.social_media
				button.btn.btn-lg.i.fa.fa-facebook.fa-lg
				a(href='#')
			li.social_media
				button.btn.btn-lg.i.fa.fa-instagram.fa-lg
				a(href='#')
			li.social_media
				button.btn.btn-lg.i.fa.fa-twitter-square.fa-lg
				a(href='https://twitter.com/home?status=')
		div.nav.navbar(role='navigation')
			li.nav-bar
				button.nav-button
					a(href='/projects') Projects
			li
				button.nav-button
					a(href='#') Who We Are
			li
				button.nav-button
					a(href='#') Contact
	div.span_div
		a(href='#')
			span.glyphicon.glyphicon-menu-down
		//- span.glyphicon.glyphicon-menu-down