body {
  padding: 50px;

  font-family: 'Droid Sans Mono';
  color: black;
}

a {
  color: #00B7FF;
}
body {
	background-image: url('http://localhost:3000/images/suns-rays.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.rhino_logo {
	float: left;
	width: 50%;
	height: 50%;
}
.nav-button {
	background-color: #9933CC;
	border: none;
	font-size: 1.5em;
	padding: 8px 30px;
	margin-bottom: 20px;
	color: black;
}
.nav.navbar {
	position: fixed;
	right: 25px;
	top: 35%;

}
li, a{
	list-style: none;
	color: black;
	text-decoration: none;
}
li:hover, a:hover {
	list-style: none;
	text-decoration: none;
}
.social_media {
	float: right;
	margin-bottom: 10px;
	display: inline-block;
	padding: 10px 5px;

}
.fa {
	color: white;
}
.btn {
	background-color: blue;
	border-radius: 50px;
}
.glyphicon-menu-down {

	color: white;
	font-size: 3em;
}
.span_div {
	position: absolute;
	bottom: 25px;
	right: 50%;
}
.nav-button {
	text-align: right;
}
