body {
  padding: 50px;

  font-family: 'Cousine', ;
}

a {
  color: #00B7FF;
}
body {
	background-image: url('http://localhost:3000/images/suns-rays.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.rhino_logo {
	float: left;
	width: 50%;
	height: 50%;
}
.nav-button {
	background-color: #9933CC;
	border: none;
}
.nav.navbar {
	float: right;

}